@font-face {
  font-family: 'HansonBold';
  src: url('./Hanson-Bold.otf');
}

@font-face {
  font-family: 'UncutSansReg';
  src: url('./Uncut-Sans-Regular.otf');
}

@font-face {
  font-family: 'UncutSansMed';
  src: url('./Uncut-Sans-Medium.otf');
}

@font-face {
  font-family: 'UncutSansSemiBold';
  src: url('./Uncut-Sans-Semibold.otf');
}

@font-face {
  font-family: 'UncutSansBold';
  src: url('./Uncut-Sans-Bold.otf');
}
